{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": 48.1232867,
    "longitude": -1.8601608,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Maison",
    "time_zone": "Europe/Paris",
    "external_url": null,
    "internal_url": null,
    "currency": "EUR",
    "country": "FR",
    "language": "fr"
  }
}